@CHARSET "UTF-8";

body {
	margin: 0px 0px 0px 0px;
	background: #dee0e2;
	text-align: justify;
	font-family:  Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: black;
	background-image: url(images/top_bar_alta.png);
	background-repeat: repeat-x;
	height: 38px;
}

.mese{
	width: 300px;	
	margin-bottom: 10px;
}

.mesePrev{
	float: left;
	margin-top: -2px;
}

.meseNext{
	float: right;
	margin-top: -2px;
}

.meseSelect{
	margin-top: 5px;
}

table.cellaCalendario{
	font-size: 9px;
	background-image: url(images/background_day.png);
	width: 100px;
}

table.cellaCalendarioOggi{
	font-size: 9;
	background-image: url(images/background_day_today.png);
	width: 100px;
}

th.cellaCalendario{
	font-size: 12;
	font-weight:bold;
	text-align: center;
	
}

th.cellaCalendarioFesta{
	font-size: 12;
	font-weight:bold;
	text-align: center;
	color: red;
}

tr.cellaStanza{
	text-align: left;
}

select.headerCalendar{
	font-size: 16px;
	font-weight: bold;
}