@CHARSET "UTF-8";

body {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background: #dee0e2;
	text-align: justify;
	font-family:  Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: black;
	background-image: url(images/top_bar_alta.png);
	background-repeat: repeat-x;
	height: 38px;
}

.pagina{
	margin-top: 45px;
	width: 1050;
}

/* Impaginazione Menu*/

#menu{
	float: left;
	width: 230px;
	font-size: 16px;
	font-weight: bold;
	color: white;
	background-image: url(images/background_menu_vertical.png);
	background-repeat: no-repeat;
	padding-left: 15px;
	margin-left: 30px;
}

#item_menu{
	background-image: url(images/background_item_menu.png);
	background-repeat: no-repeat;
	width: 200px;
	padding: 0px 0px 0px 15px;
	margin: 5px 0px 5px 0px;
	cursor: pointer;
}

#item_menu img{
	width: 32px;
}

#item_menu span{
	vertical-align: bottom;
}

/* Impaginazione Calendario*/

#calendario{
	float:right;
	width:750px;
}

#calendario_tabella_intestazione{
	width: 750px;
	text-align: center;
}

#calendario_tabella_intestazione table{
	width: 750px;
}

#calendario_tabella_intestazione td{
	width: 100px;
	text-align: left;
	padding-left: 10px;
}

#calendario_tabella_giorni{
	height: 550px;
	overflow: auto;
}

#contenuti{
	width: 750px;
	float: right;
}
#titoloContenuti{
	margin-bottom: 40px;
	background-color: #D5D5D5;
	color: #333333;
	text-align: center;
	font-size: 22px;
	font-style: italic;
	font-weight: bold;
}

#messaggioContenuti{
	margin-top: 40px;
	background-color: #D5D5D5;
	color: black;
	text-align: center;
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
}

#messaggioContenutiCorretto{
	margin-top: 40px;
	background-color: #D5D5D5;
	color: green;
	text-align: center;
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
}

#messaggioContenutiErrore{
	margin-top: 40px;
	background-color: #D5D5D5;
	color: red;
	text-align: center;
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
}

/* Intestazione Calendario */

.mese{
	width: 300px;	
	margin-bottom: 10px;
}

.mesePrev{
	float: left;
	margin-top: -2px;
}

.meseNext{
	float: right;
	margin-top: -2px;
}

.meseSelect{
	margin-top: 5px;
}

/* Impaginazione contenuto calendario*/

table.cellaCalendario{
	padding-right: 3px;
	font-size: 9px;
	background-image: url(images/background_day.png);
	background-repeat: no-repeat;
	width: 100px;
	cursor: pointer;
}

table.cellaCalendarioOggi{
	padding-right: 3px;
	font-size: 9px;
	background-image: url(images/background_day_today.png);
	background-repeat: no-repeat;
	width: 100px;
	cursor: pointer;
}

td.cellaStanza{
	width: 90%;
}

th.cellaCalendario{
	font-size: 12;
	font-weight:bold;
	text-align: center;
}

th.cellaCalendarioFesta{
	font-size: 12;
	font-weight:bold;
	text-align: center;
	color: red;
}

tr.cellaStanza{
	text-align: left;
}

select.headerCalendar{
	font-size: 16px;
	font-weight: bold;
}

#little_calendar table {
	margin-top: 30px;
	color: #000000;
	font-size:11px;
	text-align:center;
	width:200px;
}

/* Tabelle javascript */
#table_report{
	width:800px;
	height:500px;
	background-color:white;
	overflow:hidden
}

#table_client{
	width:800px;
	height:500px;
	background-color:white;
	overflow:hidden
}

#table_visitor{
	width:800px;
	height:500px;
	background-color:white;
	overflow:hidden
}
	
#table_client{
	width:880px;
	height:200px;
	background-color:white;
	overflow:hidden
}

#table_booking{
	width:880px;
	height:50px;
	background-color:white;
	overflow:hidden
}

/* Tabelle HTML*/
#tabella {
	width:750px;
	overflow:auto;
}

#tabella table{
	margin-top: 10px;
	width: 100%;
}

#tabella th{
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#333333 none repeat scroll 0 0;
	color:#FFFFFF;
	font-family:Arial,Helvetica,sans-serif;
	font-size:9pt;
	font-weight:bold;
	padding-left:8px;
	padding-right:8px;
	text-align:left;
}

/* Se il bottone è disabilitato non viene modificato
#tabella input, select, option {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#D5D5D5 none repeat scroll 0 0;
	color:#000000;
	font-family:Arial,Helvetica,sans-serif;
	font-size:9pt;
	padding-left:8px;
	padding-right:8px;
	text-align:left;
}
*/
.celle_tabella_0 {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#E5E5E5 none repeat scroll 0 0;
	color:#000000;
	font-family:Arial,Helvetica,sans-serif;
	font-size:9pt;
	padding-left:8px;
	padding-right:8px;
	text-align:left;
}

.celle_tabella_1 {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#D5D5D5 none repeat scroll 0 0;
	color:#000000;
	font-family:Arial,Helvetica,sans-serif;
	font-size:9pt;
	padding-left:8px;
	padding-right:8px;
	text-align:left;
}