@CHARSET "UTF-8";

body {
	margin: 0px 0px 0px 0px;
	background: #dee0e2;
	text-align: justify;
	font-family:  Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: black;
	background-image: url(images/top_bar_alta.png);
	background-repeat: repeat-x;
	height: 38px;
}

.pagina{
	margin-top: 45px;
	width: 1050;
}

/* Impaginazione Menu*/

#menu{
	font-size: 16px;
	font-weight: bold;
	color: white;
	margin-left: 20px;
	margin-top:30px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	background-image: url(images/background_menu_vertical.png);
	background-repeat: no-repeat;
}

#item_menu{
	background-image: url(images/background_item_menu.png);
	background-repeat: no-repeat;
	height: 35px;
	width: 190px;
	padding-left: 15px;
	padding-top: 5px;
	margin-top: 3px;
	cursor: pointer;
}

/* Impaginazione Calendario*/

#calendario{
	float: right;
}

#calendario_tabella_intestazione{
	width: 750px;
	text-align: center;
}

#calendario_tabella_giorni{
	float: right;
	height: 450px;
	width: 750px;
	overflow: auto;
}

#contenuti{
	width: 650px;
	float: right;
	margin-right: 50px;
	margin-top: 10px;
}
#titoloContenuti{
	color: white;
	text-align: right;
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
	padding-right: 30px;
	padding-top: 15px;
	margin-bottom: 20px;
}

/* Intestazione Calendario */

.mese{
	width: 300px;	
	margin-bottom: 10px;
}

.mesePrev{
	float: left;
	margin-top: -2px;
}

.meseNext{
	float: right;
	margin-top: -2px;
}

.meseSelect{
	margin-top: 5px;
}

/* Impaginazione contenuto calendario*/

table.cellaCalendario{
	padding-right: 3px;
	font-size: 9px;
	background-image: url(images/background_day.png);
	background-repeat: no-repeat;
	width: 100px;
	cursor: pointer;
}

table.cellaCalendarioOggi{
	padding-right: 3px;
	font-size: 9px;
	background-image: url(images/background_day_today.png);
	background-repeat: no-repeat;
	width: 100px;
	cursor: pointer;
}

td.cellaStanza{
	width: 90%;
}

th.cellaCalendario{
	font-size: 12;
	font-weight:bold;
	text-align: center;
}

th.cellaCalendarioFesta{
	font-size: 12;
	font-weight:bold;
	text-align: center;
	color: red;
}

tr.cellaStanza{
	text-align: left;
}

select.headerCalendar{
	font-size: 16px;
	font-weight: bold;
}

#little_calendar table {
	margin-top: 30px;
	color: #000000;
	font-size:11px;
	text-align:center;
	width:200px;
}

/* PROVE */

#prova{

}

