@CHARSET "UTF-8";

body {
	margin: 0px 0px 0px 0px;
	background: #000000;
	text-align: justify;
	font-family:  Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	background-image: url(images/top_bar.png);
	background-repeat: repeat-x;
	border: 1px solid;
	border-color: #555c61;
	height: 38px;
}

.mese{
	width: 300px;
}

.mesePrev{
	float: left;
	margin-top: -5px;
}

.meseNext{
	float: right;
	margin-top: -5px;
}

.meseSelect{
	margin-top: 8px;
}